<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: {Macros: {
            E: "{\\mathbb{E}}"
        },
        Augment: {
        Definitions: {
          delimiter: {
            "\\llbracket": '\u27E6',
            '\\rrbracket': '\u27E7'
          }}
        }}
    });
</script>
    <body>
    <div style="display:none" aria-hidden="true">
    \(

        \newcommand\llbracket{[\![}
        \newcommand\rrbracket{]\!]}
        \newcommand\1{{\mathbb 1}}
        \newcommand\ud{\,\mathrm{d}}
        \newcommand{\transp}[1]{{}^t\!#1}
        \newcommand{\bf}[1]{{\boldsymbol #1}}
        \newcommand{\cov}[2]{\Cov\left(#1,#2\right)}
        \newcommand{\E}[1]{\mathbb{E}\left[#1\right]}
        \newcommand{\V}[1]{\mathbb{V}\left[#1\right]}
        \DeclareMathOperator*{\argmax}{argmax}
        \DeclareMathOperator*{\argmin}{argmin}
        \DeclareMathOperator*{\med}{med}
        \DeclareMathOperator{\tr}{tr}
        \DeclareMathOperator{\Cov}{Cov}
    \)
    </div>
    </body>
